@use "root";
@use "sidebar"; // cleaned !
@use "settings";
@use "layouts";
@use "globals";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Fira Sans", "Heebo", sans-serif;
  margin-bottom: 0 !important;
}
