.is-invalid { border-color: #dc3545; }
.invalid-feedback { font-size: .875rem; }
.loader-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
/* HTML: <div class="loader"></div> */
.loader {    
  --r1: 154%;
  --r2: 68.5%;
  width: 60px;
  aspect-ratio: 1;
  border-radius: 50%; 
  background:
    radial-gradient(var(--r1) var(--r2) at top   ,#0000 79.5%,#0d6efd 80%),
    radial-gradient(var(--r1) var(--r2) at bottom,#0d6efd 79.5%,#0000 80%),
    radial-gradient(var(--r1) var(--r2) at top   ,#0000 79.5%,#0d6efd 80%),
    #ccc;
  background-size: 50.5% 220%;
  background-position: -100% 0%,0% 0%,100% 0%;
  background-repeat:no-repeat;
  animation: l9 2s infinite linear;
}
@keyframes l9 {
    33%  {background-position:    0% 33% ,100% 33% ,200% 33% }
    66%  {background-position: -100%  66%,0%   66% ,100% 66% }
    100% {background-position:    0% 100%,100% 100%,200% 100%}
}

.rate-error{
  border: 3px solid transparent;        /* thickness */
  border-radius: 5px;
  background:
    linear-gradient(rgba(250, 128, 114, 0.765), rgba(250, 128, 114, 0.883)) padding-box,        /* inner fill */
    linear-gradient(90deg, #ff7a18, #af002d, #319197) border-box; /* border */
  color: #fff;
  padding: 16px 20px;
  background-clip: padding-box, border-box; /* (optional; most browsers infer it) */
}

.flash{
  border: 3px solid transparent;        /* thickness */
  border-radius: 5px;
  background:
    linear-gradient(rgba(44, 169, 90, 0.883), rgba(44, 169, 90, 0.76)) padding-box,        /* inner fill */
    linear-gradient(90deg, #18d1ff, #9daf00, #319197) border-box; /* border */
  color: #fff;
  padding: 16px 20px;
  background-clip: padding-box, border-box; /* (optional; most browsers infer it) */
}