.icon-picker{
  .selected-icon{
    display: inline-block;
    font-size: 2rem;
    padding-left: 15px;
  }
  input[type="search"]{
  all: unset;
  font-family: 'Fira Sans', 'Heebo', sans-serif;
  border: 2px solid lightgray;
  padding-left: 10px;
  padding-top:5px ;
  padding-bottom:5px ;
  border-radius: 5px;
  margin-bottom: 10px;
      width: 350px;

  }
  .icon-selector{
    .icon-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
      gap: 0.25rem;
      height:200px ;

      .icon-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid transparent;
        padding: 10px;
        cursor: pointer;
        transition: all 0.1s ease-in-out;

        &:hover i{
          color: #0d0d0d;
        }
      }
      
    }
    .icon-loader{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 200px;
      .loader {
        width: 50px;
        aspect-ratio: 1;
        border-radius: 50%;
        border: 8px solid;
        border-color: #323450 #0000;
        animation: l1 1s infinite;
      }
      @keyframes l1 {to{transform: rotate(.5turn)}}
    }
  }
}


.expande-enter-active,
.expande-leave-active {
  transform-origin: top;
  transition: transform 0.25s ease, opacity 0.25s ease;
}

.expande-enter-from,
.expande-leave-to {
  transform: scaleY(0);
  opacity: 0;
}

.expande-enter-to,
.expande-leave-from {
  transform: scaleY(1);
  opacity: 1;
}
