.module-layout {
  padding: 5px;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 20px;
    @media (max-width: 1250px) {
      font-size: 0.785em;
    }
    @media (max-width: 750px) {
      font-size: 0.685em;
    }
    &__details {
      display: flex;
      flex-direction: row;
      justify-content: baseline;
      align-items: baseline;
      &__title {
        font-size: 2.5rem;
        @media (max-width: 1250px) {
          font-size: 2rem;
        }
        @media (max-width: 988px) {
          font-size: 1.8rem;
        }
      }

      &__meta {
        font-size: 1.2rem;
        font-weight: 600;
        color: #323450;
        margin-left: 10px;
        @media (max-width: 1200px) {
          font-size: 1rem;
        }
        @media (max-width: 988px) {
          font-size: 0.8rem;
        }
      }
    }

    &__actions {
      &__create {
        position: relative;
        border-radius: 5px;
        overflow: hidden;
        &__cancel-btn {
          background: rgb(170, 170, 170);
        }
      }
      &__edit {
        position: relative;
        border-radius: 5px;
        overflow: hidden;
        &__cancel-btn {
          background: rgb(170, 170, 170);
        }
        &__dropdown-btn {
          border-top-right-radius: 5px !important;
          border-bottom-right-radius: 5px !important;
          border: none !important;
        }
        &__dropdown {
          background: white;
          border-radius: 8px;
          position: fixed;
          padding: 0.5rem 0;
          list-style: none;
          min-width: 160px;
          font-size: 1rem;
          box-shadow:
            rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
            rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
          right: 25px;
          margin-top: 5px;
          &__item {
            display: flex;
            padding: 8px 14px;
            color: #333;
            text-decoration: none;
            align-items: center;
            cursor: pointer;
            &:hover {
              background: #f5f5f5;
            }
            i {
              width: 33px;
            }
          }
        }
      }
      &__list {
        position: relative;
        border-radius: 5px;
        display: flex;
        border: 2px solid lightgray;
        border-radius: 10px;
        overflow: hidden;

        &:focus-within {
          border-color: var(--module-color);
        }
        &__search {
          background: none;
          border: none;
          padding: 8px 10px;
          border-radius: 8px;
          font-family: "Fira Sans", "Heebo", sans-serif;
          border-right: none;
          width: 380px;
          @media (max-width: 1250px) {
            width: 280px;
          }
          @media (max-width: 988px) {
            width: 180px;
          }
          @media (max-width: 750px) {
            width: 120px;
          }
        }
        &__search-reseter {
          border-left: none;
          border-right: none;
          display: flex;
          align-items: center;
          padding: 0 10px;
          cursor: pointer;
          &:hover i {
            color: var(--module-color);
          }
        }
        .hide-reseter i {
          visibility: hidden;
        }
        &__dropdown {
          position: fixed;
          z-index: 1000;
          min-width: 15rem;
          margin: 0.125rem 0 0;
          font-size: 1.1rem;
          color: #212529;
          text-align: left;
          font-family: "Fira Sans", "Heebo", sans-serif;
          overflow: hidden;
          list-style: none;
          background-color: #ffffff;
          background-clip: padding-box;
          border-radius: 0.375rem !important;
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
          margin-top: 50px;
          right: 25px;
          @media (max-width: 1250px) {
            font-size: 0.9rem;
            min-width: 0rem;
          }
          @media (max-width: 750px) {
            font-size: 0.85em;
          }
          &__item {
            display: block;
            width: 100%;
            padding: 1rem;
            clear: both;
            font-weight: 400;
            color: #212529;
            text-align: inherit;
            text-decoration: none;
            white-space: nowrap;
            background-color: transparent;
            border: 0;
            cursor: pointer;

            &:hover,
            &:focus {
              color: #1e2125;
              background-color: #dfdddd;
              text-decoration: none;
            }

            &:first {
              border-radius: 0.375rem 0.375rem 0 0;
            }

            &:focus {
              color: #1e2125;
              background-color: #b1b1b1;
              text-decoration: none;
            }

            &:active {
              color: #ffffff;
              background-color: #0d6efd;
            }
            &--delete {
              color: salmon !important;
            }
          }
        }
      }
      button {
        background-color: var(--module-color);
        color: white;
        padding: 8px;
        border: none;
        cursor: pointer;
        @media (max-width: 780px) {
          font-size: 0.7rem;
        }
        &:hover {
          background-color: color-mix(
            in srgb,
            var(--module-color) 80%,
            transparent
          );
        }
        &:disabled {
          cursor: not-allowed;
          background: rgb(197, 197, 197);
        }
      }
    }
  }

  &__list {
    //list view
    position: fixed;
    top: 8rem;
    right: 0;
    bottom: 0;
    left: 6rem;

    display: flex;
    flex-direction: column;

    overflow: hidden;
    &__table-scroll {
      overflow: auto;
      margin: 20px 55px;
      scrollbar-width: thin; // Firefox
      scrollbar-color: rgba(0, 0, 0, 0.25) transparent;
      border: 3px solid var(--module-color);
      border-radius: 8px;

      &::-webkit-scrollbar {
        height: 10px;
        width: 10px;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.25);
        border-radius: 8px;

        &:hover {
          background-color: color-mix(
            in srgb,
            var(--module-color) 55%,
            rgba(0, 0, 0, 0.35)
          );
        }
      }
    }
    &__table {
      font-size: 0.9em;
      font-family: sans-serif;
      width: max-content;
      min-width: 100%;

      border-collapse: separate;
      border-spacing: 0;
      &__bulk-select {
        border-right: 1px solid rgba(211, 211, 211, 0.488);
      }
      thead th {
        position: sticky;
        top: 0;
        z-index: 2;

        background-color: var(--module-color);
        color: #ffffff;
      }
      thead tr {
        background-color: var(--module-color);
        color: #ffffff;
        text-align: left;
      }

      th,
      td {
        padding: 15px 15px;
        cursor: pointer;
      }
      tbody tr:nth-of-type(odd) {
        background-color: #fefefe;
      }

      tbody tr {
        border-bottom: 1px solid #dddddd;
        transition: all 0.1s ease-in-out;

        &:hover {
          color: white;
          background-color: var(--module-color);
          opacity: 0.5;
        }

        .active-row {
          font-weight: bold;
          color: var(--module-color);
        }
      }
      tbody tr:last-of-type {
        border-bottom: 2px solid var(--module-color);
      }
      .no-data-row {
        text-align: center;
        pointer-events: none;
      }
      .search-highlight {
        padding: 5px 1px;
        border-radius: 5px;
        background-color: #9f9eac69;
      }
    }
    &__pagination {
      position: sticky;
      bottom: 0;
      padding: 10px 25px;
      z-index: 3;
    }
    //record view
  }
  &__record {
    &__section {
      display: flex;
      flex-direction: column;
      margin: 25px 50px;
      padding: 20px;
      background-color: white;
      border-radius: 8px;
      box-shadow:
        rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
      &__title {
        display: block;
        font-size: 0.75rem;
        color: #323450;
      }
      &__layout {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 20px 60px;
        flex-wrap: wrap;
        gap: 1.25rem;
        @media (max-width: 750px) {
          margin: 0;
        }

        &__field {
          display: flex;
          flex-direction: column;
          flex: 1 1 calc(50% - 0.625rem);

          &__content {
            max-width: 420px;
            min-width: 180px;
            font-size: 1.2rem;
            font-weight: 500;
            border: 2px solid transparent;
            display: flex;
            transition: border 0.3s ease-in-out;
            &:hover {
              border-bottom: 2px solid var(--module-color);
              cursor: pointer;
            }
            span {
              padding: 10px;
              width: 100%;
            }
            input {
              all: unset;
              width: 100%;
              padding: 10px;
              cursor: text !important;
            }
            textarea {
              all: unset;
              resize: none;
              padding: 10px;
              width: 100%;
              cursor: text;
            }
          }

          .uneditable-field {
            background-color: rgb(248, 248, 248);
            border: none !important;
            cursor: not-allowed;
            border-radius: 8px;
            span {
              cursor: not-allowed;
            }
            &:hover {
              border-bottom-color: transparent !important;
            }
          }

          .view-uneditable-field {
            background-color: rgb(248, 248, 248);
            cursor: not-allowed;
            border-radius: 8px;
            span {
              cursor: not-allowed;
            }
            &:hover {
              border-bottom-color: transparent !important;
            }
          }
          .editing-mode {
            transition: all 0.3s ease-in-out;
            border: 2px solid var(--module-color);
            border-radius: 5px;
          }
          .error {
            border: 2px solid #dc3545 !important;
            color: #dc3545 !important;
            span {
              position: relative;
              text-align: right;
              width: 20px;
            }
          }
        }
      }
    }
  }
}

.delete-zone {
  margin: 25px 0;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  @media (max-width: 1250px) {
    font-size: 0.785em;
  }
  @media (max-width: 750px) {
    font-size: 0.685em;
  }
  &__text {
    display: flex;
    flex-direction: column;
    width: 400px;
    font-family: "Fira Sans", "Heebo", sans-serif;
    .select-all-in-scope {
      cursor: pointer;
      color: var(--module-color);
      transition: all 0.1s ease;
      &:hover {
        text-decoration: underline;
      }
    }
    .selected-count {
      visibility: hidden;
    }
  }
  &__actions {
    width: 500px;
    display: flex;
    justify-content: space-around;
    &__delete {
      --btn-color: salmon;
      --btn-bg-hover: salmon;
    }
    &__cancel {
      --btn-color: var(--module-color);
      --btn-bg-hover: var(--module-color);
    }
  }
}

.mass-update-zone {
  margin: 25px;
  width: 95%;
  &__form {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    flex-direction: row;
    &__update {
      --btn-color: var(--module-color);
      --btn-bg-hover: var(--module-color);
    }
    &__value {
      font-family: "Fira Sans", "Heebo", sans-serif;
      border: 2px solid lightgray;
      background: none;
      padding-left: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      border-radius: 5px;
      width: 350px;
      color: #585978;
      &:disabled {
        background-color: rgb(218, 218, 218);
        color: white;
        border-color: rgb(218, 218, 218);
        cursor: not-allowed;
      }
    }
    .dropdown-field_button {
      padding-left: 10px;
      padding-top: 10px;
    }
    .dropdown-field_selected {
      padding-top: 2.5px;
      padding-bottom: 2.5px;
    }
  }
  &__summary {
    .select-all-in-scope {
      cursor: pointer;
      color: var(--module-color);
      transition: all 0.1s ease;
      &:hover {
        text-decoration: underline;
      }
    }
    .hide-this {
      visibility: hidden;
    }
  }
}
