.root {
  min-height: 100vh;
  background: #f5f6fa;
  background-size: 100% 100%;
  display: flex;
  &__content {
    padding-top: 20px;
    flex-grow: 1;

    .fade-enter-active,
    .fade-leave-active {
      transition: opacity 0.15s ease, transform 0.15s ease;
    }
    .fade-enter-from,
    .fade-leave-to {
      opacity: 0;
      transform: translateY(20px);
    }
    .slide-search-enter-active,
    .slide-search-leave-active {
      transition: all 0.2s ease;
    }
    .slide-search-enter-from,
    .slide-search-leave-to {
      opacity: 0;
      transform: translateX(20px);
    }
  }
}
