.root {
  min-height: 100vh;
  background: #f5f6fa;
  background-size: 100% 100%;
  display: flex;
  &__content {
    padding-top: 20px;
    flex-grow: 1;

    .fade-enter-active,
    .fade-leave-active {
      transition: opacity 0.15s ease, transform 0.15s ease;
    }
    .fade-enter-from,
    .fade-leave-to {
      opacity: 0;
      transform: translateY(20px);
    }
    .slide-search-enter-active,
    .slide-search-leave-active {
      transition: all 0.2s ease;
    }
    .slide-search-enter-from,
    .slide-search-leave-to {
      opacity: 0;
      transform: translateX(20px);
    }
  }
}

.delete-zone {
  margin: 25px;
  display: flex;
  width: 95%;
  padding: 20px;
  justify-content: space-between;

  &_text {
    display: flex;
    flex-direction: column;
    width: 400px;
    font-family: "Fira Sans", "Heebo", sans-serif;
    .select-all-in-scope {
      cursor: pointer;
      color: deepskyblue;
      transition: all 0.1s ease;
      &:hover {
        text-decoration: underline;
      }
    }
    .selected-count {
      visibility: hidden;
    }
  }
  &_actions {
    width: 500px;
    display: flex;
    justify-content: space-around;
    button {
      all: unset;
      cursor: pointer;
      border: 2px solid;
      padding: 5px 20px;
      border-radius: 8px;
      transition: all 0.15s ease-in-out;
      height: 35px;
      &:disabled {
        color: darkgray;
        background-color: lightgray;
        border-color: darkgray;
        cursor: not-allowed;
      }
    }
    .confirm-delete-btn {
      color: salmon;
      border-color: salmon;
      &:hover {
        color: white;
        background-color: salmon;
        &:disabled {
          color: darkgray;
          background-color: lightgray;
          border-color: darkgray;
          cursor: not-allowed;
        }
      }
    }
    .cancle-delete-btn {
      border-color: var(--module-color);
      color: var(--module-color);
      &:hover {
        color: white;
        background-color: var(--module-color);
      }
      &:disabled {
        color: darkgray;
        background-color: lightgray;
        border-color: darkgray;
        cursor: not-allowed;
      }
    }
  }
}

.mass-update-zone {
  margin: 25px;
  width: 95%;
  .mass-update-form {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    flex-direction: row;
    button {
      all: unset;
      cursor: pointer;
      border: 2px solid;
      padding: 5px 20px;
      border-radius: 8px;
      transition: all 0.15s ease-in-out;
      height: 35px;
      &:hover {
        color: white;
        background-color: #585978;
        border-color: #585978;
      }

      &:disabled {
        color: darkgray;
        background-color: lightgray;
        border-color: darkgray;
        cursor: not-allowed;
      }
    }
    .update_confirm {
      border: 2px solid var(--module-color);
      color: var(--module-color);
      padding: 5px 20px;
      border-radius: 8px;
      transition: all 0.15s ease-in-out;
      height: 35px;
      &:hover {
        color: white;
        background-color: var(--module-color);
        border-color: var(--module-color);
      }

      &:disabled {
        color: darkgray;
        background-color: lightgray;
        border-color: darkgray;
        cursor: not-allowed;
      }
    }
    input {
      all: unset;
      font-family: "Fira Sans", "Heebo", sans-serif;
      border: 2px solid lightgray;
      padding-left: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      border-radius: 5px;
      width: 350px;
      &:disabled {
        background-color: rgb(218, 218, 218);
        color: white;
        border-color: rgb(218, 218, 218);
        cursor: not-allowed;
      }
    }
    .dropdown-field_button {
      padding-left: 10px;
      padding-top: 10px;
    }
    .dropdown-field_selected {
      padding-top: 2.5px;
      padding-bottom: 2.5px;
    }
  }
}

.hide-this {
  visibility: hidden;
}

.select-all-in-scope {
  cursor: pointer;
  color: deepskyblue;
  transition: all 0.1s ease;
  &:hover {
    text-decoration: underline;
  }
}
