.settings{
  display: flex;
  flex-direction: column;

  &_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    &_search{
    input{
      all: unset;
      border: 2px solid lightgrey ;
      padding: 5px 15px;
      width: 380px;
      border-radius: 8px;
            font-family: 'Fira Sans', 'Heebo', sans-serif;

    }

    }
    &_title{
      display: flex;
      flex-direction: row;
      align-items: baseline;
      h6, span{
        margin: 5px 0 0 5px;
        font-size: 0.8rem;
      }
      h5{
        font-size: 1rem;
      }
    }
  }
  &_content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    &_section{
      margin: 20px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      background-color: white;
      box-shadow: 2px 2px 2px 0px rgba(51, 51, 51, 0.5)!important;
      border-radius: 8px;
      &_header{
        &_title{
          margin-bottom: 10px;
        }
        &_desc p{
          font-size: 0.8rem !important;
        }
      }
      &_links{
        display: flex;
        flex-direction: column;
        margin: 10px;
        padding: 10px;

        a{
          all: unset;
          color: #0d6efd;

          width: max-content;
          align-self: flex-start;
          cursor: pointer;
          padding: 5px 5px 0px 5px;
          margin-bottom: 5px;
          span{
            transition: all 0.3s ease-in-out ;
            border-bottom: 2px solid transparent;
            margin: 5px;
            &:hover{
              border-color: #0d6efd;
            }
          }


        }
      }

    }


  }
  &_items{
    &_modules{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      padding: 50px;
      li{
        display: flex;
        align-items: center;
        font-size: 2rem;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        margin: 10px;
        &:hover{
          color: var(--module-color);

        }
        i{
          margin-right: 10px;
        }
      }
    }
  }
}