.module-layout {
  padding: 5px;
  margin-top: 25px;
  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 20px;

    &__details {
      display: flex;
      flex-direction: row;
      justify-content: baseline;
      align-items: baseline;

      &__title {
        font-size: 2.5rem;
        margin-right: 20px;
        @media (max-width: 1200px) {
          font-size: 2rem;
        }
        @media (max-width: 988px) {
          font-size: 1.8rem;
        }
      }

      &__meta {
        font-size: 1.2rem;
        font-weight: 600;
        color: #323450;
        @media (max-width: 1200px) {
          font-size: 1rem;
        }
        @media (max-width: 988px) {
          font-size: 0.8rem;
        }
      }
    }

    &__actions {
      &__create {
        position: relative;
        border-radius: 5px;
        overflow: hidden;
        &__cancel-btn {
          background: rgb(170, 170, 170) !important;
        }
      }
      button {
        background-color: var(--module-color);
        color: white;
        padding: 8px;

        border: none;
        cursor: pointer;
        @media (max-width: 780px) {
          font-size: 0.7rem;
          padding: 0 4px;
        }
        &:hover {
          background-color: color-mix(
            in srgb,
            var(--module-color) 80%,
            transparent
          );
        }
        &:disabled {
          cursor: not-allowed;
          background: rgb(197, 197, 197) !important;
        }
      }

      .search-reseter {
        border-left: none;
        border-right: none;
        display: flex;
        align-items: center;
        padding: 0 10px;
        cursor: pointer;
        &:hover i {
          color: var(--module-color);
        }
      }
      .hide-reseter i {
        visibility: hidden;
      }
      .actions_container {
        border: 2px solid lightgray;
        border-radius: 10px;
        &:focus-within {
          border-color: var(--module-color);
        }
      }
      .search-input {
        all: unset;
        padding: 8px 10px;
        border-radius: 8px;
        font-family: "Fira Sans", "Heebo", sans-serif;
        border-right: none;
        width: 380px;
        @media (max-width: 1200px) {
          width: 280px;
        }
        @media (max-width: 988px) {
          width: 180px;
        }
        @media (max-width: 780px) {
          width: 120px;
        }
      }

      .main-btn {
        border-left: none;
        border-right: none;
      }
      .dropdown-btn {
        border-left: 1px solid lightgray;
        border-radius: 0 8px 8px 0 !important;
      }
      .record-main-btn {
        border: none;
        padding: 8px;
        border-right: 2px solid lightblue;
      }
      .record-dropdown-btn {
        border-radius: 5px;
        border-top-right-radius: 5px !important;
        border-bottom-right-radius: 5px !important;
        border: none !important;
      }
      .cancel-btn {
        background: rgb(170, 170, 170) !important;
      }
    }
  }

  &_content {
    &_table {
      margin: 25px 25px;
      font-size: 0.9em;
      font-family: sans-serif;
      min-width: 400px;
      width: 95%;
      border: 2px solid var(--module-color);
      border-radius: 15px;

      border-collapse: separate;
      border-spacing: 0;
      overflow: hidden;

      box-shadow: 0 0 40px rgba(0, 0, 0, 0.374);

      thead tr {
        background-color: var(--module-color);
        opacity: 0.8;
        color: #ffffff;
        text-align: left;
      }

      th,
      td {
        padding: 15px 15px;
        cursor: pointer;
      }
      tbody tr:nth-of-type(even) {
        background-color: #fefefe;
      }

      tbody tr {
        border-bottom: 1px solid #dddddd;
        transition: all 0.1s ease-in-out;

        &:hover {
          color: white;
          background-color: var(--module-color);
          opacity: 0.5;
        }

        .active-row {
          font-weight: bold;
          color: var(--module-color);
        }
      }
      tbody tr:last-of-type {
        border-bottom: 2px solid var(--module-color);
      }
      .no-data-row {
        text-align: center;
        pointer-events: none;
      }
    }
    &_section {
      display: flex;
      flex-direction: column;
      margin: 25px 50px;
      padding: 20px;
      background-color: white;
      border-radius: 8px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
      &_title {
        display: block;
        font-size: 0.75rem;
        color: #323450;
      }
      &_layout {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 20px 60px;
        flex-wrap: wrap;
        gap: 1.25rem;

        &_field {
          display: flex;
          flex-direction: column;
          flex: 1 1 calc(50% - 0.625rem); // 2 per row, minus half the gap

          .field {
            width: 420px;
            font-size: 1.2rem;
            font-weight: 500;
            border: 2px solid transparent;
            display: flex;
            transition: border 0.3s ease-in-out;
            &:hover {
              border-bottom: 2px solid var(--module-color);
              cursor: pointer;
            }
            span {
              padding: 10px;
              width: 100%;
            }
            input {
              all: unset;
              width: 100%;
              padding: 10px;
              cursor: text !important;
            }
            textarea {
              all: unset;
              resize: vertical;
              padding: 10px;
              width: 100%;
              cursor: text;
            }
          }
          .editing-mode {
            transition: all 0.3s ease-in-out;
            border: 2px solid var(--module-color);
            border-radius: 5px;
          }
        }
      }
    }
  }
}
